<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Owner Page</title>
</head>
<body>
<table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 150px;"> id</th>
        <th style="width: 150px;"> FirstName</th>
        <th style="width: 150px;"> LastName</th>
      </tr>
    </thead>
    <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}"></td>
            <td th:text="${owner.firstName}"></td>
            <td th:text="${owner.lastName}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>